<!-- Footer -->
<footer class="page-footer font-small bg-secondary pt-4">
    
    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-ligth">Siga-nos nas redes sociais</h4>
            </div>
        </div>

    </div>

    <div class="footer-copyright bg-dark text center py-3 d-flex justify-content-center">
        <span class="text-ligth">© 2020 Copyright:</span>
        <a class="text-ligth text-center" href="">Jeferson Amorim</a>
    </div>
</footer>
