<div class="card bg-dark text-white">

      <img class="card-img" style=" opacity: .3;" src="https://ruralpecuaria.com.br/painel/img/noticias/13339/noticias_1570542511.jpg" alt="">

      <div class="card-img-overlay">

         <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
               <h1 class="card-title mt-5">Hortifruti Generation</h1>
            </div>
         </div>

      

         <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-10 mt-4">
               <p class="card-text text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur provident reiciendis aperiam quo illum adipisci sunt, mollitia explicabo, assumenda nesciunt quis earum quas in tenetur. Quisquam neque numquam facere saepe.</p>
            </div>
         </div>
         
      </div>
</div>
